
#add{
    width: 100px;
    margin-left:1000px;
    height: 50px;
    border-radius: 20px;
    font-size: large;
    background-color: rgb(255, 245, 150);
    color: rgb(8, 4, 4);
}
input{
    width: 1000px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
}

table{
    margin-left: 0px;
    width: 1150px;

}

th {
    background-color:rgb(201, 206, 211);
    color: rgb(23, 8, 26);   
 }
 td {
        border: 1px solid black;
        border-style: none;
        border-radius: 10px;
        color: rgb(4, 3, 5);
        width: 1000px;

        
      }
#newcontact{
    position: relative;
    width: 800px;
    height: 400px;
    margin:auto;
    margin-top: 370px;
    background-color: rgb(18, 10, 56);
}
#list_contact{
    display: none;
    width: 600px;
    position: relative;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border:black;
    font-style:normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 245, 150);
    color: rgb(23, 8, 26);
    border-radius:20px;
 }
fieldset{
    border-radius: 50px;
background-color: white;
position: absolute;


}
.BODY{
    background-color: rgba(255, 255, 255, 0.637);
   
    overflow-y: scroll;
    font-size: 24px ; 
    width: 1200px;
    height: 1200px;
    color: white;
    border-radius: 50px;
    margin-left: 150px;
}
body{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj0KZfiGvZVTDUQW3vtHQ4VQ49k1i1VPJ7JFiH-4re96ltnAM1h0nTy2VmSUGprZ8V-pg&usqp=CAU) ;
background-size: cover;

}

label{
    background-color:rgb(201, 206, 211);
    color: rgb(73, 35, 109);
    border-radius: 50px;
}
img{
    transform: scale(0.5,0.5);
   margin-left: 570px;
   border-radius: 200px;
}
body, html{
    height: 100%;
}
@media (max-width: 600px) {

#add{
    width: 70px;
    margin-left:500px;
    height: 50px;
    border-radius: 100px;
    
}
input{
    width: 500px;
    height: 20px;
}

table{
    margin-left: 0px;
    width: 550px;

}


 td {
       
        width: 500px;

        
      }
#newcontact{
    width: 50px;
    height: 300px;
    margin-top: 130px;
    border-radius: 500px;
}
#list_contact{
    width: 300px;
}


.BODY{
    width: 599px;
    height: 600px;
    margin-left: 5px;
}



img{
   margin-left: 120px;

}
body, html{
    height: 50%;

}
}

